.search-results {
  color: white;
  display: flex;
  flex-flow: row wrap;
  list-style-type:none;
  padding: 0px;
}

/* This css is also used in BillboardSongs  */
.no-suggestions { 
  color: #999;
  padding: 0.5rem;
  font-size: 18px;
}