.slider-container {
  height: 400px;
}

.mood-score-slider {
  margin: 80px 40px 40px 40px;
}

.mood-score-slider .rs-slider-progress-bar {
  background-color: #3498ff;
}

.mood-score-slider .rs-slider-handle::before {
  border-color: #3498ff;
}

.mood-score-slider .rs-slider-graduator > ul > li.rs-slider-pass::before {
  border-color: #3498ff;
}

.mood-score-slider span {
  color: #b3b3b3;    
}