.App {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}

.mobile-screen {
  display: none;
}

.Moodify {
  display: flex;
  flex-flow: row nowrap;
}

@media only screen and (max-width: 720px) {
  .mobile-screen {
    display: inline-block;
    width: 80%;
    height: 80%;
  }

  .mobile-screen h3{
    color: #ffffff;
  }

  .Moodify {
    display: none;
  }
}

.left-side-section {
  min-height: 100vh;
  width: 150px;
  position: fixed;
  padding-left: 15px;
  /* border-right: solid 1px #b3b3b3; */
}

.main-section {
  width: 100%;
  padding: 30px;
  margin-left: 180px;
}

.rs-modal-dialog .rs-modal-content {
  /* Add css to all modal pop ups */
  margin-top: 12%;
  padding: 30px;
  font-size: 16px;
  line-height: 1.5;
}

.rs-modal-dialog .rs-modal-content p{
  margin-bottom: 1.5em;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}