.App {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: #131313;
}

.left-side-section {
  min-height: 100vh;
  width: 150px;
  position: fixed;
  padding-left: 15px;
  border-right: solid 1px #b3b3b3;
}

.main-section {
  width: 100%;
  padding: 30px;
  margin-left: 180px;
}