.App {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  background-color: #131313;
}

.left-side-section {
  background-color: #92a3f8;
}

.main-section {
  height: 100px;;
  padding: 30px;
  background-color: #f5f5f5;
}