.song-container {
  width: 221px;
  height: auto; /* Use to be 299px */
  background-color: #262626;
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

.song-score-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-score-container:hover {
  background-color: rgba(29, 185, 84, 0.75);
}

.song-score {
  font-size: 40px;
}

.song-container-bottom {
  display: flex;
  flex-direction: row;
}

.song-container-bottom-left {
  width: 85%;
}

.song-title {
  font-size: 14px;
}

.song-artists {
  font-size: 11px;
  color: #b3b3b3;
}

.song-container-bottom-right {
  display: flex;
  align-items: flex-end;
  height: 80px;
  border: solid 1px hotpink;
  position: relative;
}

.fa-play-circle {
  font-size: 45px;
  color: #1db954;
}